body {
  padding-top: 60px;
  padding-bottom: 40px;
}

#preview {
	height: 500px;
	width:100%;
	margin-top: 20px;
	padding:0;
	border: none;
}

.color {
	float:left;
	width: 70px;
	height: 240px;
	text-align:center;
	color: #ffffff;
}
.customize-color {
	width:20px;
	height:15px;
}

.selected-color {
	display:inline-block;
	width:18px;
	height:12px;
}

img.lavish-image {
	width: 360px;
	margin-bottom: 10px;
}

div.sample-container {
	text-align: center;
	margin-bottom: 10px;
	a.image-link {
		img {
			width: 100%;
		}
	}
}

input.jscolor {
	width: 88px;
	margin: auto;
}

.bs-example {
  position: relative;
  padding: 45px 15px 15px;
  margin: 0 -15px 15px;
  background-color: #fafafa;
  box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
}

a.btn-download {
	margin: 20px 0;
}

div.spinner-container {
	display: none;
	position: fixed;
	top: 45%;
	left: 45%;
	text-align: center;
	color: #ffffff;
	width: 200px;
	height: 200px;

	> div.shade {
		width: 100%;
		height: 100%;
		background-color:#000000;
		filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
		opacity:0.7;
		border-radius: 8px;
		z-index: 100;
	}

	> div.main {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1000;

		> #spinner {
			position: relative;
			top: 80px;
		}

		> div.caption {
			font-size: 22px;
			margin-top: 150px;
		}
	}
}
