body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.color {
	float:left;
	width: 70px;
	height: 240px;
	text-align:center;
	color: #ffffff;
}
.customize-color {
	width:20px;
	height:15px;
}

.selected-color {
	display:inline-block;
	width:18px;
	height:12px;
}

img.lavish-image {
	width:360px;
}

div.sample-container {
	text-align: center;
	margin-bottom: 10px;
	a.image-link {
		img {
			width: 100%;
		}
	}
}
